  @media (max-width: 1200px) {

  }

  @media (max-width: 991px) {
    .promo {
    .header {
      padding: 0px 10px;
    }
    &__wrapper {
      padding-right: 10px;
    }
    }
    .advantages {
      &__wrapper  {
        padding: 0px 10px;
      }
    }
    .consultation {
      &__wrapper {
        padding-left: 10px;
      }
    }
    .carousel {
      &__inner {
        max-width: 990px;
        img {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
      }

      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 45px;
      }
    }

  }
  @media (max-width: 767px) {
    .header {
      padding: 0 15px;
      &__official {
        display: none;
      }
      &__contacts {

      }
    }

    .advantages{
      &__wrapper  {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
      }
      &__subtitle {
        margin-top: 20px;
      }
      &__item {
        padding-top: 20px;
        &:nth-child(3) {
          margin-bottom: 30px;
        }
      }
    }
    .consultation {
      padding: 50px;
      .title_left {
        font-size: 30px;
      }
    }
    .carousel {
      &__inner {
        width: 570px;
        img {
          display: block;
          width: 570px;
          margin: 0 auto;
        }
      }
    }
  }

  @media (max-width: 575px) {
    .promo {
      .header {
        &__phone {
          font-size: 14px;
        }
        .button {
          width: 125px;
        }
        &__logo {
          img{
            width: 90%;
          }
        }
        &__subheader {
          font-size: 20px;
        }
        &__icons {
          width: 100px;
        }
      }
    }
    .carousel {
      &__inner {
        width: 320px;
        img {
          display: block;
          width: 320px;
          margin: 0 auto;
        }
      }
    }
  }